:root {
    --backgroud-color: #212529;
    --word-color: #e9ecef;
    --primary-color: #dd2d4a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroud-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* When touching, no zooming on phone */
    touch-action: manipulation; 
}

.vertical-center {
    width: 100%;
    cursor: pointer;
}

.word-container {
    display: flex;
    /* Scalable font-size: min. 30px, ideal 10vw, max. 80px */
    font-size: clamp(30px, 10vw, 80px); 
    font-family: "Montserrat", sans-serif;
    color: white;
    border-top: 1px solid rgba(233, 236, 239, 0.5);
    border-bottom: 1px solid rgba(233, 236, 239, 0.5);
    padding: 40px 0;
    letter-spacing: -2px;
    position: relative;
}

.word-container::before,
.word-container::after {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 15px;
    background-color: var(--primary-color);
    transform: translateX(-50%);
}

.word-container::before { top: 0; }
.word-container::after { bottom: 0; }

.side {
    flex: 1;
    white-space: nowrap;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}

.middle-letter {
    color: var(--primary-color);
    flex: 0 0 auto;
}